@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
 }

 .container1{
    width: 30%;
    height: 100vh;
  }
  .bg-img
  {
    width: 100%;
    height: 100vh;
  }
 /* .big-pic{
  width: 100%;
 } */

 .cardfront{
   width: 333px;
   position: absolute;
   top: 198px;
   left: 210px;
   box-shadow: #180523 0px 10px 25px 0px;
 }
 .mains
 {
  width: 100%;
  display: flex;
 }

 /* html{
  overflow: hidden;
 } */

 .cardback{
   width: 333px;
   position: absolute;
   top: 430px;
   left: 280px;
   box-shadow: #180523 0px 10px 25px 0px;
 }

 .container2{
  width: 70%;
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .forms{
margin-left: 200px;
 }

.text-main{
  font-size: 12px;
  font-weight: 600;
}

.fox
{
  width: 85%;
  outline: none;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #b4b4b4;
  margin: 5px 0 25px 0;
}

.fox:focus
{
  border: 1px solid purple;
}

.date-con
{
  width: 100%;
  display: flex;
}

.cons
{
  width: 45%;
}

.conss{
  width: 50%;
}

.date
{
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #b4b4b4;
  /* border: none; */
  width: 30%;
  margin: 5px 15px 0 0;
}

.cvc
{
  width: 80%;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #b4b4b4;
  margin: 5px 0 0 0;
  /* border: none; */
}

.cvc:focus{
  border: 1px solid purple;
}

.date:focus{
  border: 1px solid purple;
}

.foxes{
  width: 85%;
}

.unfox{
  width: 100%;
  border-radius: 5px;
  height: 50px;
  margin-top: 35px;
  background-color: #220930;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border: none;
}

.unfox:hover{
  background-color: #161515;
  transition: 1s ease;
}

        /* CSS Thank you */

.form-container1{
  width: 50%;
  text-align: center;
  margin: 260px 0px 0px 250px;
}

.hero{
  font-size: 30px;
  font-weight: 500;
  margin-top: -130px;
}

.dish{
  margin-bottom: 150px;
  position: relative;
  width: 100px;
}

.sub{
  font-size: 12px;
  font-weight: 500;
  color: #3e3b3b;
  margin-top: 8px;
}

.eat{
  background-color: #220930;
  height: 50px;
  width: 60%;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}

.eat:hover{
  background: #161515;
  transition: 1s ease;
}


/* Media Query */
@media screen and (max-width: 800px){
.cardfront{
  width: 70%;
  position: absolute;
  top: 135px;
  left: 30px;
  box-shadow: #180523 0px 10px 25px 0px;
}

.cardback{
  width: 70%;
  position: absolute;
  top: 50px;
  left: 90px;
  box-shadow: #180523 0px 10px 25px 0px;
}

}

@media screen and (max-width:800px){
  .mains{
    flex-direction: column;
  }
  .container1{
    height: 30%;
    width: 100%;
  }
  
.bg-img{
  width: 100%;
  height: 240px;
  /* position: relative; */
}

.container2{
  display: block;
  height: 200px;
  width: 100%;
}

.form-container1{
  margin: 100px 0px 0px -5px;
  width: 100%;
}
.eat{
width: 70%;
}

.forms{
  width:90%;
  margin: 90px 30px;
  
}
}